body{
	font-size: 20px;
	margin: 0;
}


.block {
}
.pervyi {
	display: inline-block;
	width: 120px;
	height: 120px;
}
.div__item {
}
.div__item2 {
}

.red {
	color: red;
}

.image {
	width: auto;
	max-width: 100%;
}